.l2-disclaimer-mortgage {

     p {
    	font-style: normal;
	    font-family: 'Whitney A', 'Whitney B';
	    font-weight: 400;
	    font-size: 13px;
	    padding: 2.5em 2em 2.5em 0;
	    margin-bottom: 0px;
	    color:#666;
    }
}

.areas .container .area .details p.disclaimer-mortgage {
	font-style: normal;
    font-family: 'Whitney A', 'Whitney B';
    font-weight: 400;
    font-size: 13px;
    padding: 2.5em 2em 2.5em 0;
    margin-bottom: 0px;
    color:#666;
    width:100%;
}